<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UTN DDS - Grupo 3 </title>
    <link rel="icon" type="image/x-icon" href="images/menu/utn.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="bg-image" style="background-image: url('/images/menu/2258.jpg'); height: 100vh;">
    <header class="navbar navbar-expand-lg navbar-light bg-light ps-4 opacity-75">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">Bienvenido {{trabajador.nombre}} {{trabajador.apellido}}</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/trabajador">Home</a>
                </li>
            </ul>
        </div>

        <a class="nav-link" style="margin-right: 40px;" href="logout" >Logout</a>

    </header>

    <div class="d-flex justify-content-center">
        <h2 class="p-3 mb-2 bg-light text-dark mt-5" style="max-width: 330px;">Nueva Vinculacion
        </h2>
    </div>

    <div class="d-flex justify-content-center" style="margin-top: 100px;">
        <form action="/trabajador/vinculacion/crear" method="post" class="p-3 mb-2 bg-light text-dark mt-5">
            <label for="organizaciones">Escoja una organizacion:</label>
            <select name="organizacion-nombres" id="organizacion-nombres" onchange="pedirSectores()">
                <option value="" disabled selected hidden>Elegir Organizacion<option>
                {{#each organizaciones}}
                    <option name="organizacionId" value="{{this.id}}">{{this.razonSocial}}</option>
                {{/each}}
            </select>
            <label for="sectores">Escoja un sector:</label>
            <select name="organizacion-nombres" id="organizacion-nombres">
                {{#each sectores}}
                    <option name="sectorId" value="{{this.id}}">{{this.nombreSector}}</option>
                {{/each}}
            </select>
            <td colspan="3" style="max-width: 75px;"><button class="btn btn-warning" type="submit">Confirmar</button></td>
        </form>
    </div>
    <script>
        function pedirSectores(id){
            alert("hola " + (document.getElementsByName("organizacionId")[0].value));
        }
    </script>
</body>

</html>
